body{
    margin: 0;
    background-color: #EEEEEE;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
}

.page-header{
    background-color: #00ADB5;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 80px;
}

.page-header a{
    display: inline;
    text-align: center;
    margin: 20px;
    padding: 0;
    text-decoration: none;
    color: #EEEEEE;
}

nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#homepage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homepage .borderhome{
    border: 2px solid #222831;
    padding: 10px;
}

.borderhome span{
   font-size: 50px;
   cursor: default  ;
}

#teampage{
    height: 100%;
    width: 100%;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxfoto img{
    width: 300px;
}

.boxname{
    margin-top: 20px;
}

.boxname .name{
    color: #EEEEEE;
    font-size: 25px;
}

.boxname .status{
    color: #EEEEEE;
    font-size: 15px;
    margin-top: 10px;

}

#aboutpage{
    height: 100%;
    width: 100%;
}

#aboutpage .left-content{
    float: left;
    background-color: #393E46;
    width: 30%;
    height: 100%;
}

.heading{
    margin-left: 30px;
    font-size: 40px;
    color: #EEEEEE;
}

.top{
    margin-top: 100px;
}

.bot{
    margin-top: 50px;
}

.left-content .box{
    background-color: #EEEEEE;
    width: 85%;
    height: 300px;
    margin: 30px;
    border-radius: 10px;
    line-height: 40px;
    padding-top: 1;
}

.box ul{
    list-style: none;
    
}

.box p{
    padding-left: 40px;
}

#aboutpage .right-content{
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
}

.heading-right{
    font-size: 40px;
    color: #393E46;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
}

.riwayat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table, th, td{
    border: 1px solid #222831;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

th{
    background-color: #393E46;
    color: #EEEEEE;
}

table{
    width: 50%;
    border-collapse: collapse;
}